.main{
    font-family: 'Nunito', sans-serif;
    background-color: #3f5d7c33;
    height: 50pc;
}
.naming{
    text-align: center;
}
.title-name{
    padding: 50px;
    font-size: 25px;
    font-weight: bold;
}
.name-user-input{
    font-size: 18px;
    margin: 10px;
}
.submit-name{
    margin: 20px;
    cursor: pointer;
}
.result-name-user{
    text-align: center;
    padding: 25px;
    font-size: 23px;
    font-weight: bold;
}
.submit-word{
    font-size: 20px;
}
.input-status{

}
.wrapper-result{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 50px;
}
.wrapper-message{
    position: absolute;
    left: 37%;
}
.output-result{
    color: #cf4c4c;
    font-size: 20px;
}
.input-letters{
    text-align: center;
}
.sample-result{
    height: 50px;
    width: 40px;
    border: 1px solid;
    margin: 5px;
    background-color: #ffffff;
}
.hidden-letter{
    text-align: center;
    font-size: 45px;
}
.latter{
    font-size: 20px;
}
.win-massage{
    font-size: 30px;
    color: #1bab19;
    padding-top: 40px;
    text-align: center;
}
.result-name{
    position: absolute;
    top: 1px;
    right: 16px;
}
.wrapper-btn-choise-word{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}
.play-again{
    width: 50%;
    height: 250px;
    border-radius: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background: #fff;
    padding: 25px;
    transition: 1s all;
}
.play-again-btn{

    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #243b1c2e;
    padding: 15px;
}
.play-again-btn:hover{
    background-color: rgba(36, 59, 28, 0.29);
}
.container-btn{
    display: flex;
    position: absolute;
    bottom: 40px;
    left: 19%;
}
.form-play-btn{
    margin: 10px;
}

.err{
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}
.block-err-user{
    height: 8pc;
    position: absolute;
    top: 7%;
    left: 5%;
    width: 20pc;
    background: #4fd838b3;
    border-radius: 10px;
}
.block-err-user__title{
    text-align: center;
    padding-top: 10px;
    color: white;
    font-size: 22px;
    margin-top: 40px;
}
.block-err-user:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 62px;
    top: -30px;
    border: 15px solid;
    border-color: transparent transparent #4fd838b3;
}